/********************************** General *****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font: normal 16px sans-serif;
    background-color: #faebd7;
}

body {
    margin:0;
    color: #333;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
    padding: 15px 10px
}

ul,
nav {
    list-style: none;
}

header a, footer a, button a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

h1{
    font-size: 2em;
    text-decoration:underline ;
}
h2 {
    font-size: 2em;
}


/***************************** Header *********************************/

header {
    position:top; 
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 35px 100px 0;
    /*background-color: rgb(201, 192, 192);*/
    background: linear-gradient(0.5turn, #ddd 20%, #888 70%, #222);
    border-bottom: 2px solid #000;
}

header h2 {
    font-family: "Quicksand", sans-serif;
}

header h3 {
    font-family: "Quicksand", sans-serif;
}

header nav li {
    margin: 0 15px;
}

header nav {
    display: flex;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}



/*********************Main part *********************************/

.main {
    /*height: 100%;*/
    margin: 5% 0;
    padding-left: 0;
}

main{
    width: 70%;
    padding: 15px;
    display: inline-flex;
}
/********************* Connexion ********************************/
aside{
    width: 30%;
    margin-top: 15%;
    display: inline-flex;
    float: right;
}

/******************** Formulaire *******************************/

.form-label {
    padding-left: 30px;
}

.form-input {
    justify-self: center;
    width: 70%;
    margin-left: 5%;
}

i {
    font-size: small;
    margin-left: 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.connexion {
    display: grid;
    justify-content: center;
    flex-direction: columns;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

form {
    margin: 5%;
    align-items: center;
    background-color: #fff;
    padding: 10px 60px 40px 60px;
    border-radius: 10px;
    box-shadow: 8px 8px 12px #777;
    min-width: 300px;
}

form h2,
form h1,
h2 {
    color: #eb7371;
    text-align: center;
    padding: 20px 0px;
}

h3 {
    color: #eb7371;
    text-align: center;
    padding: 20px 0px;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 15px;
}

button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline: none;
    cursor: pointer;
}

/******************** footer ***********************************/

footer {
    /*background-color: rgb(201, 192, 192);*/
    background: linear-gradient(0turn, #ddd 20%, #888 70%, #222);
    justify-content: center;
    border-top: 2px solid #000;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.boutons {
    display: block;
    margin-top: 10px;
    float: left;
}

.contenu-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8em;
    padding: 20px 0 20px;
    bottom: 10px;
}

.bloc {
    width: 25%;
    margin: 0 15px;
}


/*contact*/

.footer-reseaux h3,
.footer-contact h3,
.footer-apropos h3,
.footer-navigation h3 {
    font-size: 1em;
    padding-bottom: 20px;
    font-weight: bolder;
}


/*services*/

.liste-reseaux,
.liste-contact,
.liste-apropos,
.liste-navigation {
    list-style-type: none;
}

.liste-services li {
    padding: 2px 0;
}

.liste-reseaux a,
.liste-contact a,
.liste-apropos a,
.liste-navigation a {
    text-decoration: none;
    color: black;
}
/******************* page index ********************************/
.index{
    background-image:
    linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
    url("./media/microphone.jpg");
    padding-bottom: 20px;
}
.index p {
    color: #fff;
}

/******************** API **************************************/

.grille {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
}

.adiv {
    border-radius: 15px;
}

.apidiv1 {
    background-color: crimson;
    grid-column: 1 / 2;
    grid-row: 1;
}

.apidiv2 {
    background-color: cornflowerblue;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    padding: 20px 60px;
}

.apidiv3 {
    background-color: lightseagreen;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.tableapi tbody tr:hover{
    border: 2px solid black;
    background-color: blue;
    color: linen;
}

/******************récap d'inscription *************************/

.cardinscription {
    background-color: #ff7;
    border: 2px solid #000;
    border-radius: 15px;
    padding-left: 10px;
    grid-column: 2;
    grid-row: 2;
}


/******************** page lecture bdd **************************************/

.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #ecf0f6;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}

.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}

.read .create-contact:hover {
    background-color: #32a367;
}

.read .pagination {
    display: flex;
    justify-content: flex-end;
}

.read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}

.read .pagination a:hover {
    background-color: #999b9d;
}

.read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.read table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}

.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}

.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
}

.read table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}

.read table tbody tr:hover {
    background-color: #376ab7;
}

.read table tbody tr:hover td {
    color: #FFFFFF;
}

.read table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}

.read table tbody tr td {
    padding: 10px;
}

.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}

.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}

.read table tbody tr td.actions .edit,
.read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}

.read table tbody tr td.actions .trash {
    background-color: #b73737;
}

.read table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}

.read table tbody tr td.actions .edit {
    background-color: #37afb7;
}

.read table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}

.update form {
    margin: auto;
    padding: 15px;
    width: 1050px;
    height: 520px;
}

.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}

.update form input {
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.update form input[type="submit"] {
    display: block;
    background-color: #376ab7;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.update form input[type="submit"]:hover {
    background-color: #37afb7;
}

.message {
    font-size: 24px;
    text-align: center;
    background-color: #376ab7;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
}

.delete .yesno {
    display: flex;
}

.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.delete .yesno a:hover {
    background-color: #32a367;
}